body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f3f4f7;
}

header {
    background: #4a63ff;
    color: white;
    text-align: center;
    padding: 20px;
}

main {
    text-align: center;
    margin-top: 40px;
}

.btn {
    display: inline-block;
    margin-top: 20px;
    background: #4a63ff;
    color: white;
    padding: 12px 25px;
    border-radius: 8px;
    text-decoration: none;
    font-size: 18px;
    transition: 0.25s;
}

.btn:hover {
    background: #2e43c9;
}

footer {
    text-align: center;
    padding: 20px;
    color: #666;
    margin-top: 50px;
}
